/* 
============ global ============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.current {
  border-bottom: 3px solid #f5eec2;
  pointer-events: none;
}

.body-header,
.main,
.body-footer {
  max-width: 1500px;
  margin-inline: auto;
}

.body-header-links {
  transition: .5s;
}

.body-header-links:hover,
.body-header-links:focus {
  opacity: .8;
}

/* 
============ colors ============
*/

.yellow-c {
  color: #f5eec2;
}

.dgreen-c {
  color: #416a59;
}

.blue-c {
  color: #39395f;
}

.green-c {
  color: #73a24e;
}

.lgreen-c {
  color: #a9c25d;
}

.yellow-bc {
  background-color: #f5eec2;
}

.dgreen-bc {
  background-color: #416a59;
}

.blue-bc {
  background-color: #39395f;
}

.green-bc {
  background-color: #73a24e;
}

.lgreen-bc {
  background-color: #a9c25d;
}

/* 
============ typography ============
*/

body {
  line-height: 1.6;
  font-size: 1rem;
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

.small-font {
  font-size: .6rem;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.letter-spacing {
  letter-spacing: 2px;
}

.underline {
  text-decoration: underline;
}

.bold-text {
  font-weight: 700;
}

/* 
============ body header ============
*/

.body-header {
  background-color: #416a59;
  color: #f5eec2;
  padding-block: 1em;
}

.body-header-title {
  text-align: center;
  line-height: 1em;
  margin-bottom: .5em;
}

.link-container {
  justify-content: space-evenly;
  font-weight: 500;
}

/* 
============ mobile banner ============
*/

.mobile-banner {
  justify-content: center;
  color: #ffffff;
}

.mobile-banner-link-call,
.mobile-banner-link-email {
  text-align: center;
  width: 100%;
  padding-block: .5em;
}

.mobile-banner-link-call {
  background-color: #39395f;
  transition: .5s;
}

.mobile-banner-link-call:hover,
.mobile-banner-link-call:focus {
  background-color: #a9c25d;
}

.mobile-banner-link-email {
  background-color: #a9c25d;
  transition: .5s;
}

.mobile-banner-link-email:hover,
.mobile-banner-link-email:focus {
  background-color: #39395f;
}

/* 
============ main ============
*/

/* -- splash page -- */

.splash-page-title-tex,
.splash-page-call-us,
.splash-page-number {
  line-height: 1em;
}

.splash-page-container {
  background-image: url(./img/home-background.jpg);
  background-position: center;
  background-size: cover;
  background-color: #dad3ab;
  background-blend-mode: multiply;
}

.splash-page-content-container {
  text-align: center;
  padding: 5em 1em;
  max-width: 40em;
  margin-inline: auto;
}

.splash-page-title {
  color: #303030;
  line-height: 1.25em;
  margin-bottom: .3em;
}

.splash-page-title-text {
  color: #f5eec2;
  margin-bottom: .7em;
}

.splash-page-call-us {
  margin-bottom: .5em;
}

.splash-page-number {
  color: #303030;
}

.splash-page-call-us,
.splash-page-number {
  display: none;
}

/* -- section one -- */

.section-one {
  background-color: #a9c25d;
  text-align: center;
  padding: 4em 1em;
}

.section-one-title-container {
  margin-bottom: 5em;
}

.section-one-title {
  color: #303030;
  margin-bottom: .5em;
  line-height: 1.2;
}

.section-one-title-text {
  color: #505050;
}

.section-one-article-container {
  flex-direction: column;
  align-items: center;
  margin-bottom: 3em;
  padding-inline: 1em;
  max-width: 30em;
  margin-inline: auto;
}

.section-one-article-title {
  margin-bottom: .5em;
  color: #404040;
}

.section-one-article-text {
  font-weight: 500;
}

.svg-one {
  margin-bottom: 1.5em;
}

.svg-two {
  margin-bottom: .8em;
}

.svg-three {
  margin-bottom: 1em;
}

svg {
  order: -1;
}

.last-article {
  margin-bottom: 0;
}

/* -- section two -- */

.section-two {
  background-color: aliceblue;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.section-two-article-title {
  line-height: 1.2;
  color: #303030;
}

.section-two-article-title-text {
  margin-block: 1em;
  color: #505050;
}

.section-two-article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-two-contact {
  display: none;
  margin-block: 1em;
  color: #416a59;
}

/* -- section three -- */

.section-three {
  background-color: #f5eec2;
  padding: 4em 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.section-three-article-title {
  line-height: 1.2;
  color: #303030;
}

.section-three-article-title-text {
  margin-block: 1em;
  color: #505050;
}

.section-three-article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
============ body footer ============
*/

.footer-cite-link-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1.5em 2em;
}

.footer-cite-links {
  font-weight: 700;
  opacity: .8;
}

.footer-cite-links:hover,
.footer-cite-links:focus {
  opacity: 1;
}

.footer-svg-link-container {
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1.5em 2em;
  border-top: 1px solid grey;
  margin-inline: auto;
  max-width: 90%;
}

.icon {
  opacity: .7;
}

.icon:hover,
.icon:focus {
  opacity: 1;
  cursor: pointer;
}

.body-footer {
  font-family: serif;
  background-color: #416a59;
  color: #ffffff;
  text-align: center;
  padding-block: 2em;
  padding-top: 1.5em;
}

.codex-footer {
  padding: 1.75em 2em;
  border-top: 1px solid rgb(128, 128, 128);
  margin-inline: auto;
  max-width: 90%;
}

.body-footer-links {
  color: white;
  opacity: .7;
}

.body-footer-links:hover,
.body-footer-links:focus {
  opacity: 1;
}

.svg-container {
  order: -1;
  padding: 1em;
  align-self: center;
}

.ionicon {
  width: 4em;
}

.services-article {
  margin-bottom: 2em;
  background-color: #e6e6e6;
}

.article-title {
  color: #688CCD;
}

.article-image {
  width: 100%;
}

/* 
============ media queries ============
*/

@media (min-width: 700px) {

  /* -- body header -- */

  .body-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5em;
  }

  .body-header-title {
    margin-bottom: 0;
  }

  .link-container {
    gap: 5em;
  }

  .footer-cite-link-container {
    flex-direction: row;
    gap: 5em;
  }

  .footer-svg-link-container,
  .codex-footer {
    max-width: 600px;
  }
  
}

@media (min-width: 900px) {

  .mobile-banner {
    display: none;
  }

  .splash-page-container {
    background-image: url(./img/home-background.png);
    background-position: left;
  }

  .splash-page-content-container {
    margin-inline: 0;
    margin-left: auto;
    padding-inline: 2em;
  }

  .splash-page-title-text,
  .splash-page-call-us {
    color:#505050;
  }

  .splash-page-call-us,
  .splash-page-number {
    display: block;
  }

  .section-one-summary-container {
    display: flex;
  }

  .section-one-article-container {
    width: 100%;
    margin-bottom: 0;
  }

  .section-two,
  .section-three {
    flex-direction: row;
  }

  .section-two-article-container,
  .section-three-article-container {
    align-self: center;
  }

  .article-image {
    order: -3;
  }

}

@media (min-width: 1301px) {

  .splash-page-content-container {
    margin-right: 5em;
  }

}